html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: #ffffcc;
  font-family: sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.headercontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #282828;
	box-shadow: 2px 2px 0 #ccc;
	width: 100%;
	padding: 5px;
}
.navcontainer {
	color: white;
	font-size: 2.5vw;
}
	@media screen and (min-width: 700px) {
		.navcontainer {
			font-size: 18px;
		}
		.socialcontainer {
			font-size: 18px;
		}
	}
.navcontainer > ul {
	display: flex;
	flex-direction: row;
}
.navcontainer > ul > li {
	margin-right: 15px;
	list-style: none;
	opacity: 0.8;
}
.navcontainer > ul > li:hover {
	opacity: 1;
}
.socialcontainer {
	display: flex;
}
.socialcontainer > a > i {
	margin: 5px;
	color: #ffffcc;
	padding: 5px;
	border-radius: 20%;
	opacity: 0.8;
	font-size: 2.5vw;
}
.socialcontainer > a > i:hover {
	opacity: 1;
	cursor: pointer;
}
.fa-facebook-square {
	background: #3b5998;
}
.fa-instagram {
	background: #c32aa3;
}
.fa-youtube {
	background: #ff0000;
}
.fa-twitter {
	background: #1da1f2;
}
.beautygrid {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto;
}
.beautygrid > div > img {
	width: 48%;
	margin: 0.5vw;
}
h3 {
	text-align: center;
}
.beautygrid > .top >img:nth-child(2) {
	filter: saturate(400%) hue-rotate(180deg);
}
.beautygrid > .bottom >img:first-child {
	filter: saturate(400%) hue-rotate(90deg);
}
.beautygrid > .bottom >img:nth-child(2) {
	filter: saturate(400%) hue-rotate(270deg);
}
.aboutcontainer {
	background: #ffffcc;
	padding: 10px;
}
.aboutcontainer > p {
	background: #282828;
	border-radius: 20px;
	padding: 1rem;
	color: #ffffcc;
}